body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: gray;
}

#results {
    margin-top: 20px;
}

.dice {
    display: inline-block;
    margin: 5px;
}
